<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel_Execution_Suite" parallel="classes" thread-count="2">
    <test name="Parallel Run">
        <classes>
            <class name="dtm.LoginTest"/>
            <class name="dtm.TitleTest"/>
        </classes>
    </test>
</suite>