<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ParallelSuite" parallel="classes" thread-count="2">

    <test name="ParallelTest">

        <classes>

            <class name="fpoly.LoginTest"/>
            <class name="fpoly.CartTest"/>

        </classes>

    </test>

</suite>